@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
		 -moz-box-sizing: border-box;
		 -webkit-box-sizing: border-box;
		 box-sizing: border-box;
		 font-family: Arial, Helvetica, sans-serif;
		}

body,td,th,p {
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
	font-size: 16px; /* Base font size */
	box-sizing: border-box;
	width: 100%;
}
ul, li {
	color: #333;
}
th {
	text-align: left;
}
a {
	color: orange;
	text-decoration: none;
	font-weight:bolder;
}
a:
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h1 a {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 80px;
}
.inside #maincontent {
	margin-top: 48px;
	display: flex;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
/* ====================== Navigation ====================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
	display: flex;
	justify: center;
	align-items: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
	font-size: 1rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
	padding: 10px 15px;
  background-color: #3397DB;
  align-items: center;
	margin: 0 auto;
	z-index: 1;
}
.filter-options h2 {
  color: white;
	font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: none;
  font-family: Arial,sans-serif;
  font-size: 0.9rem;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
	width: 93%;
}

/* ====================== Restaurant List ====================== */
#restaurants-list {
	display: grid;
	gap: 20px;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 15px 15px 60px;
	width: 100%;
	max-width: 1200px;
}
#restaurants-list li {
  background-color: #fff;
  max-width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 20px 20px 30px;
}
#restaurants-list li:hover {
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}
#restaurants-list li h1 {
  color: #f18200;
	font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
	padding-top: 20px;
}
#restaurants-list li h1 a::after {
	position: absolute;
	top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ""
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  width: calc(100% + 40px);
	order: -1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: -20px;
}
#restaurants-list p {
  margin: 0;
	font-size: 0.9rem;
}


/* ====================== Restaurant Details ====================== */
.inside #map-container {
  background: blue none repeat scroll 0 0;
	width: 100%;
	height: 400px;
	order: 1;
}
.inside #map {
  background-color: #ccc;
  height: calc(100% - 128px);
  width: 100%;
	height: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
	width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 2.5rem;
  letter-spacing: 0;
  margin: 0 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	max-width: 500px;
	width: 100%;
	border-top-left-radius: 10%;
}
#restaurant-address {
  margin: 10px 0px;
}

.hidden-accessible a {
	position: absolute;
	left: -10000px;
}
.hidden-accessible a:focus {
	position: inherit;

}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	max-width: 500px;
	width: 100%;
	margin-top: -7px;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  padding: 30px;
  max-width: 100%;
	order: 2;
}
#reviews-container {
	padding-bottom: 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
.review-meta {
	background: #333;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 0;
	border-top-left-radius: 20px;
	margin-bottom: 10px;
}
.review-name {
	color: #fff;
	font-size: 1.2rem;
}
.review-date {
	color: #ddd;
}
.review-detail {
	padding: 5px 20px 30px;
}
.review-rating {
	background: orange;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 0.8rem;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
.review-comments {
	color: #333;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Breakpoints ======================

/* == Large ==*/
@media screen and (min-width: 600px) {
	/* Restaurants list - Switch to grid layout */
	#restaurants-list {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 50px;
	}
	#map-container {
		position: relative;
	}
	.filter-container {
		display: flex;
		justify-content: center;
	}
	.filter-options {
		position: absolute;
		top: 350px;
		width: 70%;
		max-width: 700px;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	}
	.filter-options select {
		width: calc(50% - 30px);
	}


	/* Restaurant detail - Switch to two column layout */
	.inside #map-container {
		position: fixed;
		width: 50%;
		left: 50%;
		height: calc(100% - 130px);
	}
	#restaurant-container {
		width: calc(50%);
	}
	#reviews-container {
		width: calc(50%);
	}
	.inside #footer {
		width: 50%;
	}
}

@media screen and (min-width: 850px) {
	#restaurants-list {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1000px) {
	#restaurants-list {
		grid-template-columns: repeat(4, 1fr);
	}
}
